.CarForm {

}

.FormItem {
    padding: 8px;
}

.FormItem div {
    width: 100%;
    background-color: var(--form-fields-color);
}

.FormItem div input {
    background-color: var(--form-fields-color);
}

.FormItem div div {
    background-color: var(--form-fields-color);
}

.FormButtonPanel {
    margin: 16px 8px;
    border-top: 1px solid var(--border-color);
}

.FormButtonPanel div {
    margin-top: 4px;
}

.FormButtonClear {
    width: 100%;
    background-color: var(--button-clear-color) !important;
    color: var(--font-color-button-clear) !important;
}

.FormButtonSubmit {
    width: 100%;
    background-color: var(--button-submit-color) !important;
    color: var(--font-color-button-submit) !important;
}